.btn-outline-white{
  color:#fff;
  border-color:#fff
}
.btn-outline-white:hover{
   color: #0d6efd;
  background: #fff;
}
 
:root{
--prim:67,193,233;
--secun:247,246,85;
--tersia: 70,72,84;
--cuartia:16,94,202;
--ulti: 51,198,61;
}
.color-1{
  background: rgb(var(--prim));
  
  
}
.color-2{
  background: rgb(var(--secun));
}
.color-3{
  background:rgb(var(--tersia));
}
.color-4{
  background: rgb(var(--cuartia));
}
.color-5{
  background: rgb(var(--ulti));
}