# Habilitar el motor de reescritura
RewriteEngine On
# RewriteBase /
# Redirigir la raíz a index.php
RewriteRule ^$ index.php [L,QSA]
RewriteRule ^inicio$ index.php  [L,QSA]
RewriteRule ^Administrar$ index.php  [L,QSA]

RewriteRule ^Gestion_Sesion$ index.php [L,QSA]
  
RewriteRule ^src/{html}$ index.php [L,QSA]





RewriteRule ^src$ index.php [L,QSA]

RewriteRule ^inicio$ index.php [L,QSA]

RewriteRule ^Administrar$ index.php [L,QSA]

RewriteRule ^$ index.php [L,QSA]

RewriteRule ^index.php$ index.php [L,QSA]

RewriteRule ^Gestion_Sesion$ index.php [L,QSA]

RewriteRule ^Cerrar_Sesion$ index.php [L,QSA]

# RewriteRule ^Gestion_Sesion$ index.php [L,QSA]



RewriteRule ^usuario/crear$ index.php [L,QSA]


RewriteRule ^usuario/list$ index.php [L,QSA]
RewriteRule ^usuario/rol$ index.php [L,QSA]
RewriteRule ^usuario/cedula$ index.php [L,QSA]

RewriteRule ^usuario/eliminar$ index.php [L,QSA]


RewriteRule ^usuario/cambiarEstadoUsuario$ index.php [L,QSA]


RewriteRule ^usuario/form/edicion$ index.php [L,QSA]
RewriteRule ^usuario/eliminar_confir$ index.php [L,QSA]

RewriteRule ^usuario/editar$ index.php [L,QSA]

RewriteRule ^docente$ index.php [L,QSA]
RewriteRule ^docente/ci$ index.php [L,QSA]
RewriteRule ^docente/ci/imprimir$ index.php [L,QSA]

RewriteRule ^docente/formulario$ index.php [L,QSA]
RewriteRule ^docente/eliminar$ index.php [L,QSA]
RewriteRule ^docente/confirmar/eliminacion$ index.php [L,QSA]
RewriteRule ^docente/registrar$ index.php [L,QSA]
RewriteRule ^docente/editar$ index.php [L,QSA]



RewriteRule ^plantel/periodo/crear$ index.php [L,QSA]
RewriteRule ^plantel/periodo/consultar$ index.php [L,QSA]
RewriteRule ^plantel/periodo/escolar$ index.php [L,QSA]
RewriteRule ^plantel/aulas$ index.php [L,QSA]
RewriteRule ^plantel/nivel/crear$ index.php [L,QSA]
RewriteRule ^plantel/nivele$ index.php [L,QSA]
RewriteRule ^plantel/niveles$ index.php [L,QSA]

RewriteRule ^plantel/seccion/crear$ index.php [L,QSA]
RewriteRule ^plantel/secciones$ index.php [L,QSA]
RewriteRule ^plantel/seccion$ index.php [L,QSA]

RewriteRule ^plantel/aula/crear$ index.php [L,QSA]
RewriteRule ^plantel/aulas/select$ index.php [L,QSA]
RewriteRule ^plantel/aula$ index.php [L,QSA]

RewriteRule ^plantel/AnioEscolar/registrar$ index.php [L,QSA]

RewriteRule ^plantel/AnioEscolar$ index.php [L,QSA]




RewriteRule ^estudiante/sexo$ index.php [L,QSA]


RewriteRule ^estudiante/cedula$ index.php [L,QSA]
RewriteRule ^estudiante/ocupacion$ index.php [L,QSA]
RewriteRule ^estudiante/nacionalidad$ index.php [L,QSA]
RewriteRule ^estudiante/nivel_instruccion$ index.php [L,QSA]
RewriteRule ^estudiante/estado_nutricional$ index.php [L,QSA]
RewriteRule ^estudiante/condicion_medica$ index.php [L,QSA]
RewriteRule ^estudiante/discapacidad$ index.php [L,QSA]
RewriteRule ^estudiante/procedencia$ index.php [L,QSA]


RewriteRule ^reprecentante/registrar$ index.php [L,QSA]
RewriteRule ^reprecentante/extra$registrarDatosExtraReprecentante ,['numero_telefono','id_propietario','tipo_telefono'],[ $registrarTelefono]);
RewriteRule ^estudiante/registrar$ index.php [L,QSA]

RewriteRule ^estudiante/extra$ index.php [L,QSA]




RewriteRule ^direccion/estado$ index.php [L,QSA]
RewriteRule ^direccion/municipio$ index.php [L,QSA]


RewriteRule ^direccion/parroquia2$ index.php [L,QSA]
RewriteRule ^direccion/parroquia$ index.php [L,QSA]

RewriteRule ^direccion/sector1$ index.php [L,QSA]
RewriteRule ^direccion/sector$ index.php [L,QSA]
# RewriteRule ^Gestion_Inscripcion_Estudiante$ index.php [L,QSA]
