# Habilitar el motor de reescritura
RewriteEngine On

# Redirigir la raíz a index.php
RewriteRule ^$ index.php [L,QSA]
RewriteRule ^Gestion_Sesion$ index.php [L,QSA]
  
RewriteRule ^Gestion_Usuario$ index.php [L,QSA]
RewriteRule ^Gestion_Plantel$ index.php [L,QSA]
RewriteRule ^Gestion_Docente$ index.php [L,QSA]
